/* ========
*  UI Style *
=========== */

/* Colors */


/* Icon */

.icons-item-wrapper::after {
    content: "";
    flex: auto;
} 
.icons-item {
    font-size: 12px;
    width: 100px;
    height: 80px;
    margin-left: 17px;
    margin-bottom: 15px;
}
.icons-item i {
    display: inline-block;
    font-size: 22px;
    margin-bottom: 10px;
}

/* Alert */

/* Floating Buttons */

.btn-float {
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    width:60px;
    height:60px;
    position:fixed;
}
.btn-float,
.btn-float-menu .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FFF;
    border-radius:50px;
    padding: 0;
}
.btn-float i {
    font-size: 2rem !important;
}
.btn-float-menu {
    position: fixed;
    right: 40px;
    bottom: 80px;
    margin: 0;
    padding: 0;
    width: 50px;
    padding-bottom: 20px;
    z-index: 100;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.btn-float-menu .btn {
    width: 40px;
    height: 40px;
    margin-bottom: -50px;
    transition: all .4s ease-in-out;
}
.btn-float-menu .btn i {
    font-size: 1.2rem;
}
.btn-float-group.active .btn-float-menu {
    visibility: visible!important;
    opacity: 1!important;
    transition: all 0.4s ease-in-out;
}
.btn-float-group.active .btn-float-menu .btn {
    margin-bottom: 10px;
}
.btn-float-menu .btn i {
    animation: rotate-in 0.5s;
}
.btn-float-menu .btn:hover > i {
    animation: rotate-out 0.5s;
}
@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

/* Divider */

.divider {
    position: relative;
}

.divider::before {
    content: '';
    display: block;
    position: absolute;
    top: calc( 50% - 1px );
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dddddd;
}

.divider span {
    position: relative;
    background: #ffffff;
    padding: 0 10px;
    z-index: 2;
}

.divider-center {
    text-align: center;
}

/* Avatar */

.avatar .avatar-content,
.avatar img {
    border-radius: 50%;
}
.avatar.avatar-sm .avatar-content,
.avatar.avatar-sm img {
    width: 40px;
    height: 40px;
    font-size: 1rem;
}
.avatar.avatar-md .avatar-content,
.avatar.avatar-md img {
    width: 60px;
    height: 60px;
    font-size: 1.8rem;
}
.avatar.avatar-lg .avatar-content,
.avatar.avatar-lg img {
    width: 80px;
    height: 80px;
    font-size: 2.8rem;
}
.avatar.avatar-xl .avatar-content,
.avatar.avatar-xl img {
    width: 100px;
    height: 100px;
    font-size: 3.5rem;
}
.avatar .avatar-content {
    display: flex;
    justify-content: center;
    align-items: center;
}